@import "./../../assets/fonts/index.css";
@import "./../../assets/colors/index.scss";

.footer {
  width: 424px;
  height: 106px;
  margin: 46px 128px 88px;

  &__text {
    font-size: 14px;
    color: $lightGray;
    line-height: 1.8rem;
    text-align: center;
  }

  &__text-underlining {
    text-decoration: underline;
  }

  &__links {
    width: 133px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto 0;
  }

  &__link {
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
